@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 25px;
    color: black;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
    font-family: "Oswald";
    border-radius: 10px;
    padding-right: 5px;
    padding-left: 5px;
    filter: drop-shadow(5px 5px 5px #222);
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #00b4d8;
}

.button{
    background-color: white;
    font-size: 25px;
    border: 1px solid black;
    font-family: "Oswald";
    border-radius: 10px;
}

.button:hover{
    background-color: #00b4d8;
}

.descEntry{
    font-size: 20px;
}